{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}
{% endblock %}

{% block content %}

<!-- <h1 class="text-xl text-center text-gray-800 font-semibold mb-2">{% trans "Sign In" %}</h1> -->
<h4 class="card-title text-center">{% trans "Sign In" %}</h4>

<!-- <div class="container">

  <div class="row justify-content-center align-items-center">

    <div class="col-6">
      <div class="card">
        <div class="card-body"> -->

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a class="hover:underline" href="{{ signup_url }}">sign up</a>
      for a <span class="hover:bold text-blue-700 text-md">{{ site_name }}</span> account and sign in below:{% endblocktrans %}</p>

      <!-- <a href=><button class="btn btn-lg btn-facebook btn-block text-uppercase"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button></a> -->
      <a href='{% provider_login_url "google" method="js_sdk" %}'><button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button></a>

      <!-- <div class="socialaccount_ballot">

        <ul class="flex socialaccount_providers hover:underline text-center justify-center mt-4">
          <a href='{% provider_login_url "google" method="js_sdk" %}'>
          <img src="{% static 'images/btn_google_signin_light_normal_web.png' %}" alt="google_sign_in">
          </a>
          {% include "socialaccount/snippets/provider_list.html" with process="login" %} 
        </ul> -->
        <br>
        <hr class="my-4">
        <div class="login-or text-center">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}


      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

        <div class="card-body">
      <form class="form-signin" method="POST" action="{% url 'account_login' %}">
        <div class="form-label-group">
        {% csrf_token %}
        {{ form.as_p }}
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction hover:underline" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Sign In" %}</button>
       
      </form>
    </div>
<!-- 
        </div>
      </div>
    </div>

  </div>

</div> -->
{% endblock %}
