[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"

[packages]
django = "==2.2.10"
psycopg2 = "*"
django-allauth = "*"
django-invitations = "*"
dateparser = "*"
django-crispy-forms = "*"
django-fontawesome-5 = "*"

[requires]
python_version = "3.6"
