[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"

[packages]
django = "==2.2.8"
psycopg2 = "*"
django-allauth = "*"
django-invitations = "*"
dateparser = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.6"
