{% extends 'base.html' %}

{% block first_row %}

<div class="flex flex-col" >


    {% if full_list %}


    <div class="bg-gray-800">

        <table class="table-fixed" style="margin-top: 80px;">
            <thead>
                <tr>
                    <th class="w-2/12 p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Couverture</th>
                    <th class="w-2/12 p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Titre</th>
                    <th class="w-4/12 p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Description</th>
                    <th class="w-2/12 p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Disponibilité</th>
                    <th class="w-2/12 p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Accord d'emprunt</th>
                    <th class="w-1/12 p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Emprunt en cours</th>
                    <th class="w-1/12 p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for item in full_list %}

                <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"></span>
                        <img src="{{ item.book.cover }}" class="imgsize" alt="">
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"></span>
                        {{  item.book.title }}
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-left border border-b block lg:table-cell relative lg:static">
                            <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">{{ item.book.description | truncatechars:150 }}</span>
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"></span>
                        <!-- <span class="rounded bg-red-400 py-1 px-3 text-xs font-bold">{{ item.book.availability }}</span> -->
                        {% if item.book.availability == True %}
                        <span class="badge badge-success">Disponible</span>
                        {% else %}
                        <span class="badge badge-danger">Non-disponible</span>
                        {% endif %}
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"></span>
                        <!-- <span class="rounded bg-red-400 py-1 px-3 text-xs font-bold">{{ item.rental_validation }}</span> -->
                        {% if item.rental_validation  == True %}
                        <i class="fas fa-thumbs-up fa-2x" style="color:rgb(24, 102, 245);"></i>
                        {% else %}
                        <i class="fas fa-thumbs-down fa-2x" style="color:rgb(252, 48, 13);"></i>
                        {% endif %}
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-left border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"></span>
                        <!-- now "m d Y" as today -->
                        <!-- if today >= item.start_date|date:"m d Y"  and today <= item.end_date|date:"m d Y" -->
                        {% if item.rental_request_date and item.rental_validation %}
                        <span class="badge badge-warning">Emprunt en cours</span>
                        {{ item.start_date|date:"d M Y" }} <br> {{ item.end_date|date:"d M Y" }} <br>
                        {% elif item.rental_request_date and item.rental_validation == False %}
                        <span class="badge badge-success">Emprunt demandé</span>
                        {{ item.start_date|date:"d M Y" }} <br> {{ item.end_date|date:"d M Y" }} <br>
                        {% endif %}
                        <!-- <a href="#">{{ jitem.start_date}} {{ jitem.end_date}}</a> -->
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"></span>
                        <button class="btn btn-outline-warning btn-block mb-2"><a href="{% url 'book_owner_detail' item.book.uuid %}" class="">Editer</a></button>
                        <button class="btn btn-outline-info btn-block mb-2"><a href="{% url 'validate_rental' item.book.title item.book.uuid %}" class="">Valider l'emprunt</a></button>
                        <form method="post" action="{% url 'remove_book' item.book.uuid %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-block">Supprimer</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}


            </tbody>
        </table>

    </div>

</div>

{% else %}

<h1 class="text-xl text-center text-gray-800 font-semibold mt-8">Désolé, pas de livres actuellement dans la Librairie !</h1>

{% endif %}

{% endblock %}