{% extends 'base.html' %} {% load crispy_forms_tags %} {% load my_filters %} {% block first_row %}

<div class="container-fluid" style="padding-top: 80px;">
  {% if user == current_book.owner.all.first %}

  <div class="row">
    <div class="col-1"></div>

    <div class="col-10">
      <h4>Editez les informations de ce livre</h4>

      <!-- <h4>connecté avec : {{ user.username }}</h4> -->

      <!-- we could have used customuser_set instead of owner -->
      <div class="row">
        <div class="form-group col-md-8 mb-0">
          <h5>
            Ce livre est actuellement possédé par : {{ current_book.owner.all.first.email }}
          </h5>

          <!-- <h4>X utilisateur voudrait vous l'emprunter entre le {{ rental_start }} et {{ rental_end }}, êtes-vous d'accord ? </h4> -->
        </div>

        <div class="form-group col-md-4 mb-0">
          <img src="{{ current_book.cover }}" alt="current_book cover" />
        </div>
      </div>

      {% if form.errors %}
      <!-- Error messaging -->
      <div id="errors">
        <div class="inner">
          <p>
            There were some errors in the information you entered. Please
            correct the following:
          </p>
          {{ form.non_field_errors }}
          <ul>
            {% for field in form %} {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
      <!-- /Error messaging -->
      {% endif %}

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>{{ form.cover|as_crispy_field }}</div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.isbn|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.title|as_crispy_field }}
          </div>
        </div>
        {{ form.author|as_crispy_field }}
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.availability|as_crispy_field}}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.rating|as_crispy_field}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ form.description|as_crispy_field }}
          </div>
          <div class="form-group col-md-4 mb-0">
            {{ form.state|as_crispy_field }}
          </div>
          <div class="form-group col-md-2 mb-0">
            {{ form.category|as_crispy_field }}
          </div>
        </div>
        {{ form.publisher|as_crispy_field }}
        <button type="submit" class="btn btn-primary">Modifier</button>

        <!-- {% crispy form %} -->
        {{ form.errors }}
      </form>
    </div>

    <div class="col-1"></div>
  </div>

  {% else %}

  <div class="row">
    <!-- <h3>Détails du livre séléctionné</h3> -->

    <!-- Boostrap card -->

    <div class="col-lg-9">
      <div class="card mt-5 shadow" id="detail_card">
        <div class="row">
          <div class="col-lg-9">
            <div class="card-body">
              <h3 class="card-title">{{ current_book.title }}</h3>
              <h4>{{ current_book.authors }}</h4>
              <p class="card-text">{{ current_book.description }}</p>
              {% if current__book.rating %}
                  Avis : {% for i in current_book.rating|times %}
                  <!-- <img src="redcircle.jpg" > -->
                  <i class="fas fa-heart fa-2x" style="color:rgb(223, 52, 74);"></i>
                  {% endfor %}
               {% endif %}
            </div>
          </div>
          <div class="col-lg-3">
            <img
              class="card-img-top img-fluid align-self-end mr-4 mt-4 border border-secondary"
              src="{{ current_book.cover }}"
              alt=""
              style="width: fit-content;"
            />
          </div>
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4 shadow" id="detail_card">
        <div class="card-header">
          Etat : {{ book_status.state }}
        </div>
        <div class="card-body">
          <p>
            Ce livre est actuellement possédé par
            <b>{{ current_book.owner.all.first.email }}</b>
            et il est actuellement {% if item.book.availability == True %}
            <span class="badge badge-success">Disponible</span>
            {% else %}
            <span class="badge badge-danger">Non-disponible</span>
            {% endif %}
          </p>
          <!-- <small class="text-muted">{{ book_status.availability }}</small> -->
          <hr />

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ rentform }}
            <button class="btn btn-outline-success" type="submit">
              Demander un prêt
            </button>
          </form>

          <!-- <button class="btn btn-outline-success">Demander un prêt</button> -->

          <a
            href="{% url 'exchange_request' current_book.title current_book.owner.all.first.email %}"
          >
            <button class="btn btn-outline-danger">
              Demander une échange
            </button>
          </a>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>

  {% endif %}

  <div class="row pb-5 mb-5"></div>
</div>

{% endblock %}
