{% extends 'base.html' %} {% block first_row %}

<div class="flex">
  <div class="w-1/5 bg-gray-500 h-12"></div>
  <div class="w-3/5 bg-gray-400 h-12">
    <div class="bg-orange-300 rounded-lg p-6 mt-8">
      {% if user == current_book.owner.all.first %}

      <h1>Editez les informations de ce livre</h1>
      <h2>connecté avec : {{ user.username }}</h2>

      <h2>
        Ce livre est actuellement possédé par : {{
        current_book.owner.all.first.email }}
      </h2>
      <!-- we could have used customuser_set instead of owner -->

      <img src="{{ current_book.cover }}" alt="current_book cover" />

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
        >
          Update
        </button>
      </form>

      {% else %}

      <h1>Détails du livre séléctionné</h1>

      <h2>
        Ce livre est actuellement possédé par {{ current_book.owner.all.first }}
      </h2>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
        >
          Update
        </button> -->
      </form>
      
      <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Demander un prêt</button>
      <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Demander une échange</button>

      {% endif %}
    </div>
  </div>
  <div class="w-1/5 bg-gray-500 h-12"></div>
</div>

{% endblock %}
