{% extends "base.html" %}
{% load static %}


{% block first_row %}



<div class="container-fluid ml-2 mr-2 my-5" >

  <header class="bg-primary text-white pt-5 mt-5 shadow" id="banner">
      <div class="row">

        <div class="col-5 align-self-start h-60 mt-5">
          <h3 class="text-white ml-5" id="title1">Bienvenue dans la bibliothèque collaborative de nos utilisateurs</h3>

          <h4 class="text-gray ml-5 mt-5 mb-4" id="title1">Faites votre choix parmi les livres ci-dessous afin de les emprunter ou les échanger avec les votres !</h4>

          <p class="ml-5" id="title1">Si vous ne l'avez pas encore fait, la première étape consiste à remplir votre librairie personnelle avec les livres que vous souhaitez échanger ou prêter</p>
        </div>
    </div>
  </header>


  <!-- <div class="row">


    <div class="text-center pt-1 pb-1">

        <h3 class="text-gray">Voici la liste des livres de nos utilisateurs</h3>

        <h4 class="text-gray">Faites votre choix pour les emprunter ou les échanger avec les votres !</h4>

    </div>
  </div> -->

<div class="container py-3 bg-faded">


    <div class="card-columns">

      {% for book in library %}

          {%  if book.owner.all.first != user %}

          <div class="card shadow">
            <a href="{% url 'book_detail' book.uuid %}"><img class="card-img-top img-fluid" src="{{ book.cover }}" alt="Card image"></a>
          </div>

          {% endif %}

      {% endfor %}


  </div>

</div>

  <div class="row"></div>



</div>



{% endblock %}