{% load socialaccount %}
{% load static %}


<header class="" style='background-color: #fef8f3;'>
    
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style='background-color: #fef8f3;'>
      <a class="navbar-brand" href="{% url 'main' %}"><img src="{% static 'images/bookswap_logo.JPG' %}" alt="bookswap_logo" style="width: 220px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
             {% if request.get_full_path == "/book_list/" %}
             <a class="nav-link" href="{% url 'search_result' %}"><button class="btn btn-outline-secondary btn-block" type="submit">Rechercher un livre</button></a>
             {% else %}
             <a href="{% url 'book_list' %}"> <button class="btn btn-outline-success my-2 my-sm-0 ml-2 mr-2" type="submit">Ma librairie</button></a>
             {% endif%}
             

             <button type="button" class="btn btn-outline-primary my-2 my-sm-0 ml-2 mr-2" data-toggle="modal" data-target="#inviteModal">
              Inviter un ami
            </button>

        <li class="nav-item dropdown list-unstyled">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'edit_user' user.id %}">Edition utilisateur</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Déconnexion</a>         
          </div>
        </li>
      </div>
    </nav>
    {% else %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'main' %}"><img src="{% static 'images/bookswap_logo.JPG' %}" alt="bookswap_logo" style="width: 220px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
        </ul>
             <a href="{% provider_login_url 'google' %}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Google Login</button></a>
             <a href="{% url 'account_signup' %}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button></a>      
          </li>
      </div>
    </nav>

    {% endif %}
  </header>




  